*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  
}
html, body {
  height: 100%;
  width: 100%;
  background-color: #111;
  color: #fff;
  
}
.parents{
  margin:40px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
 
}
.cards{
  
  width: 300px;
  height: 400px;
  background-color: #222;
  border-radius: 15px;
  border: 1px solid #fff;
  text-align: center;
  
}
.cards img{
  margin-top: 20px;
  object-fit: cover;
  width : 40%;
  height: 30%;
  border-radius: 50%;
  
}
.cards h1{
  
  margin: 10px 15px;
  font-size: 50px;
  gap: 10px;

}
.cards p{
  margin: 15px 20px;
  font-size: 25px;
  font-weight: 500;
  color: #ccc;
  
 
}
.cards button{
  margin-top: 15px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: #ff3f6c;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}