*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Helvetica Neue';
}
html , body {
  height: 100%;
  width: 100%;
}
.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  padding: 40px;
  background: #f0f0f0;
}


.card{
  height:350px;
  width:300px;
  background-color:#fff;
  border-radius:30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 
}
.card .top{
  display:flex;
  justify-content: space-between;
  align-items: center;

}
.card img{
  height:40px;
  width: 40px;
  border-radius: 50%;
  border : 1px solid #dadada;
  padding : 4px;
  object-fit: cover;
}
.card button{
 
  display: flex;
  align-items: center;

  padding  : 4px 8px;
  gap: 3px;
  border: 1px solid #dadada;
  border-radius: 5px;
}
.card .centre{
  margin-top:20px;
}
.card .centre h3{
  font-size: 20px;
  font-weight: 600;
}
.card .centre h3 span{
  font-size: 14px;
  color: #888;
  
  font-weight: 400;
}
.card .centre h2{
   margin-top: 5px;
  font-size: 24px;
  font-weight: 700;
}
.card .centre div{
  margin-top:5px;
  display: flex;
  gap:10px;
}
.card .centre div h4{
  padding:4px 8px;
  border: 1px solid #dadada;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  background-color: #f5f5f5;
}
.card .bottom{
  margin-top: 80px;
  border-top: 2px solid #dadada;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  
}
.card .bottom p{
  font-size: 20px;
  color: #111;
  font-weight: 600;
}
.card .bottom h3{
  font-size: 16px;
  font-weight: 400;
  color: #888;
}

.card .bottom button{
  padding: 6px 12px;
  background-color: #000;
  color:#fff;
  border:none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}